language: python
python:
  - 2.7
env:
  - FLASK=0.12.2  # recent Flask
# command to install dependencies
install:
  - pip install -r requirements.txt
notifications:
    email: false
# command to run tests
script: nosetests tests.py --with-coverage && coverage report

after_success: coveralls

