
language: python
python:
  - 3.6.1
env:
  - FLASK=0.12.2  # recent Flask
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script: nosetests --with-coverage --cover-package=tests && coverage report

after_success: coveralls