language: python
python:
  - 2.7
services:
  -postgresql
# command to set up database
before_script:
  - psql -c "CREATE DATABASE testing_db;" -U postgres
env:
  - FLASK=0.12.2  # recent Flask
  - DATABASE_URL=postgresql://postgres:challenge123@localhost/bright_events_db
  - FLASK_APP="run.py"
  - SECRET="some-very-long-string-of-random-characters"
  - APP_SETTINGS="development"
# command to install dependencies
install:
  - pip install -r requirements.txt
notifications:
    email: false
# command to run tests
script: nosetests tests.py --with-coverage && coverage report

after_success: coveralls

