language: python
python:
  - 2.7
services:
  -postgresql
# command to set up database
before_install:
  - export TZ='Africa/Nairobi'
before_script:
  - psql -c "CREATE DATABASE test_db;" -U postgres
env:
  global:
    - DATABASE_URL=postgresql://postgres:challenge123@localhost/test_db
    - FLASK_APP="run.py"
    - SECRET="yguhijokldisuoiycnbnnhgjhjkdshgjhhggcvjhbkkuycghjkjljkhjghvbdgyfenkdkvsfvmvjhhvfmnvjfbvvnfdhbfdnvhbvfmvbddnmfbv"
    - APP_SETTINGS="development"
# command to install dependencies
install:
  - pip install python-coveralls
  - pip install -r requirements.txt
notifications:
    email: false
# command to run tests
script: nosetests tests --with-coverage --cover-package=webapi && coverage report

after_success: coveralls
