{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

   
{% block styles %}
<meta charset="UTF-8">
<meta http-equiv="X-UA Compatible" content="IE=edge">
<meta name="viewport" content= "width = device-width, initial-scale=1">
<link rel = "stylesheet" type="text/css" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/dashboard.css') }}">
{% endblock %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
  <nav class="navbar navbar-default">
     <div class="container">
        <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-target="#mynav" name="button" data-toggle="collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
           </button>
           <a href="index.html" class="navbar-brand">Dashboard</a>
        </div>
         <div class="collapse navbar-collapse" id="mynav">
         <ul class="nav navbar-nav navbar-right">
             <li>
                 <a href="/api/v1/auth/login">{{ logout }}</a>
             </li>

             <li class="active">
                 <a href="/">Home</a>
             </li>
             <li>
                 <a href="/api/v1/about/">About</a>
             </li>
             <li>
                 <a href="/api/v1/auth/login">Log In</a>
             </li>
             <li>
                 <a href="/api/v1/auth/register">Sign Up</a>
             </li>
         </ul>
         </div>
     </div>
  </nav>


<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profil-sidebar">
            <div class="profile-user-pic">
                <img src="https://www.1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png" class="img-responsive img-circle">
                </div>
                <div class="profile-user-title">
                <div class="profile-user-name">
                    <p>Welcome, </p>{{ name }}
                    </div>
                </div>
                <div class="profile-user-buttons">
                <button class="btn btn-success btn-sm">
                    Follow
                    </button>
                <button class="btn btn-danger btn-sm">
                    Message
                    </button>
                    
                </div>
                <div class="profile-user-menu">
                <ul class="nav">
                    <li class="active"><a href=""><i class="glyphicon glyphicon-home"></i>  Overview</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-user"></i>  Account Status</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-calendar"></i>  My Events</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-flag"></i>  Help</a></li>
                    
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
             <div class="panel-group">
              <div class="panel panel-default">
                  <h2>Popular Events</h2>
                 <div class="panel-body">
                  Mt. Kenya Marathon(Event 1)<button class="btn btn-danger btn-xs">
                    Send RSVP
                    </button>
                  </div>
                  <div class="panel-body">
                  Safaricom Sevens(Event 2)<button class="btn btn-danger btn-xs">
                    Send RSVP
                    </button>
                  </div>
                  <div class="panel-body">
                  Naiconn(Event 3)<button class="btn btn-danger btn-xs">
                    Send RSVP
                    </button>
                  </div>
                  <div class="panel-body">
                  Python Charmers(Event 4)<button class="btn btn-danger btn-xs">
                    Send RSVP
                    </button>
                  </div>
                  <div class="panel-body">
                  Jameson Rugby League(Event 5)<button class="btn btn-danger btn-xs">
                    Send RSVP
                    </button>
                  </div>
                 </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
    <div class="container">

  <div class="container">
        <div class="col-sm-6">
          <h2>My Events</h2>
                   {{ my_events }}       
                  <a href="/api/v1/new_event"><button class="btn btn-primary btn-xs">
                    Add Event
                    </button></a>           
        </div> 
           
    </div>
    <div class="container">
    <div class="col-sm-6">
      <h2>My RSVPs</h2>
              {{ rsvps }}       
              <a href=""><button class="btn btn-danger btn-xs">
                Remove
                </button></a>           
    </div> 

</div>
  </div>
</div>      

</div>
    </div>


{% endblock %}
    
