{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block styles%}
{{super()}}
<meta charset="UTF-8">
<meta http-equiv="X-UA Compatible" content="IE=edge">
<meta name="viewport" content= "width = device-width, initial-scale=1">
<link rel = "stylesheet" type="text/css" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/loginstyles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}
Log In
{% endblock %}


{% block content %}
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    
 <nav class="navbar navbar-default">
    <div class="navbar-header">
     <a href="/" class="navbar-brand">EventHub</a>
     </div>
    </nav>   
    
    
    

<div class="container">
    <div class="col-md-6 text-center">
        <div class="g">
        <h1 class="head">Log In</h1>
        <p></p>
            <form action="/api/v1/auth/login" class="form-signin" method="POST">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username)}}
                {{ wtf.form_field(form.password)}}

                <a href="dashboard.html">
                <button class="btn btn-info">Log In</button></a>
                <p>Don't have an account? <a href="/api/v1/auth/register">Sign Up</a></p>
            </form>
        </div>
    </div> 
    </div>
{% endblock %}
