.login{
    padding: 5px 120px;
    
}
.btn-info{
    background-color: #43304C;
    margin: 20px 0;
    border: 0;
    transition: all 0.7s;
    border: 1px solid #43304C;
}
.btn-info:hover{
    background-color: #fff;
    color: #43304C;
    
}
.g{
    padding: 80px 0;
    
}
.h{
    margin: 15px 0;
}
.col-md-6{
  min-height: 100%;
  min-height: 100vh; 

  display: flex;
  align-items: center;
}